.selectBaseColor {
  backgroundColor: #a5a4e7;
  border: 2px solid black;
}

.selectBaseDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.viewboxColor {
  outline: 2px solid #1b2477;
}

/* The double name is to force override the default */
.xrect {
  fill: red;
  opacity: 0.3;
  cursor: crosshair;
}

.yrect {
  fill: green;
  opacity: 0.3;
  cursor: crosshair;
}

.xyrect {
  fill: blue;
  opacity: 0.3;
  cursor: crosshair;
}
